<iframe plausible-embed src="<%= plausible_url %>/share/<%= current_organization.host %>?auth=<%= plausible_code %>&embed=true&theme=light" scrolling="no" frameborder="0" loading="lazy" class="w-full min-w-full h-[1600px]"></iframe>
<div class="text-sm pb-3.5">Stats powered by <a target="_blank" class="text-primary underline" href="https://plausible.io">Plausible Analytics</a></div>
<script async src="<%= plausible_url %>/js/embed.host.js"></script>
